<h1 class="text-center">Hello ChatApp!</h1>
<div class="container">
  <div class="connection mb-3">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" [(ngModel)]="username"/>
        </div>
        <button class="btn btn-primary me-2" 
                [disabled]="connected || !username"
                (click)="connect()">
          Connect
        </button>
        <button class="btn btn-secondary"
                [disabled]="!connected"
                (click)="disconnect()">
          Disconnect
        </button>
      </div>
    </div>
  </div>

  <div class="message-input mb-3" *ngIf="connected">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="text">Text</label>
          <input type="text" id="text" class="form-control" [(ngModel)]="text"/>
        </div>
        <button class="btn btn-success"
                [disabled]="!text"
                (click)="sendMessage()">
          Send
        </button>
      </div>
    </div>
  </div>

  <div class="message-list">
    <div class="row">
      <div class="col-md-6">
        <h3>Conversation:</h3>
        <div class="message-container">
          <div *ngFor="let message of messages" [ngClass]="{'sent': message.name === username, 'received': message.name !== username}">
            <div class="message-time">
              <b>{{message.time | date: 'dd.MM.yyyy HH:mm:ss'}}</b>
            </div>
            <div class="message-text">
              <b *ngIf="message.name !== username">{{message.name}}:</b> {{message.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
